@import "../../../styles/base/break-points";

nav.to-top {
  display: none;
}

nav.to-top {
  bottom: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 16px;
  width: 64px;
  z-index: 10;

  &.fixed {
    bottom: 0;
    display: block;
    padding-bottom: 16px;
    position: fixed;
    transition: padding 1.25s;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      background-color: var(--primary);
      color: var(--white);
      cursor: pointer;
      display: flex;
      height: 48px;
      justify-content: center;
      text-transform: uppercase;
      transition: background-color 0.2s;
      width: 100%;

      &:before {
        content: "";
        width: 0;
        margin-left: 0;
      }

      &:hover {
        background-color: var(--primary);
        color: var(--white);
        transition: background-color 0.3s, color 0.3s;
      }
    }
  }
}

@media (min-width: $xxxl) {
  nav.to-top {
    right: 5%;
    width: 110px;

    &.fixed {
      padding-bottom: 50px;
    }

    ul li {
      height: 80px;
      width: 100%;
    }
  }
}
