@import "~@angular/material/theming";
@import "~bootstrap/dist/css/bootstrap-grid.min";

@import "./base/colors";
@import "./base/lib";
@import "./components/mat-buttons";
@import "./components/mat-cards";
@import "./themes/resume-mat-theme";

html,
body {
  height: 100%;
}

body {
  background-color: var(--gray);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin-bottom: 40px;

  &.mat-card {
    padding: 0;
  }

  .content {
    padding: 16px;

    .star {
      color: var(--primary);
      pointer-events: none;
    }

    .star-empty {
      color: var(--gray);
      pointer-events: none;
    }
  }

  .header {
    margin-bottom: 20px;

    .title {
      background-color: var(--primary);
      // box-shadow: 5px 5px var(--secondary);
      color: var(--white);
      float: left;
      font-size: 36px;
      margin: 40px 0 0;
      padding: 30px;
    }

    .title-blurb {
      background-color: var(--secondary);
      clear: both;
      float: left;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 1.5;
      // min-width: 200px;
      padding: 16px 30px;
      text-transform: uppercase;
    }
  }
}

$accent-line-height: 76px;
.mat-typography {
  font-size: 15px;
  line-height: 24px;

  .side-title {
    color: var(--white);
    font-size: 36px;
    line-height: 1;
    height: $accent-line-height;
    text-transform: uppercase;

    a,
    span {
      background-color: var(--off-black);
      color: var(--white);
      transition: background-color 0.2s;
    }

    a {
      border-left: 10px solid var(--primary);
      float: left;
      padding: 20px;
      text-decoration: none;

      &:hover {
        background-color: var(--black);
        transition: background-color 0.3s;
      }
    }

    span {
      float: right;
      position: relative;
      padding: 20px;

      .top-line {
        background-color: transparent;
        border-top: 10px var(--primary) solid;
        height: calc(100% - 10px);
        position: absolute;
        right: 0;
        top: 0;
        width: $accent-line-height;
      }
    }
  }
}

// .line-container {
//   opacity: 0.05;
//   position: relative;

//   .line {
//     background: var(--primary);
//     height: 150px;
//     margin: 0 280.5px;
//     position: absolute;
//     right: 0px;
//     top: 0px;
//     width: 4px;
//     z-index: 0;
//   }

//   .line-x {
//     transform: rotate(45deg);
//   }

//   .line-x-2 {
//     transform: rotate(-45deg);
//   }
// }
