@import "~@angular/material/theming";
// @import "~bootstrap/dist/css/bootstrap-grid.min";

@import "./base/colors";
@import "./base/lib";
@import "./components/mat-buttons";
@import "./components/mat-cards";
@import "./components/mat-menu";
@import "./themes/resume-mat-theme";

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-body);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin: 8px 0;
  padding-left: 20px;

  li:before {
    content: "\2022";
    color: var(--primary);
    display: inline-block;
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
  }
}

mat-card {
  margin-bottom: 40px;

  &.mat-card {
    padding: 0;
  }

  .content {
    padding: 16px;

    .star {
      color: var(--star);
      pointer-events: none;
    }

    .star-empty {
      color: var(--star-empty);
      pointer-events: none;
    }
  }

  .header {
    margin-bottom: 20px;
    text-transform: uppercase;

    .title {
      background-color: var(--primary);
      color: var(--white);
      float: left;
      font-size: 36px;
      margin: 40px 0 0;
      padding: 30px;
    }

    .title-blurb {
      background-color: var(--secondary);
      clear: both;
      color: var(--white);
      float: left;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 1.5;
      padding: 16px 30px;
      text-transform: uppercase;
    }
  }
}

section {
  &.header {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
    padding-top: 98px;
  }

  .subsection {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    .subsection-header {
      display: flex;
      justify-content: space-between;

      h2 {
        display: inline-block;
        margin-bottom: 0;
      }

      span {
        font-size: 14px;
        span::before {
          content: " - ";
        }
      }
    }
  }
}

$accent-line-height: 76px;
.mat-typography {
  font-size: 15px;
  line-height: 24px;

  .side-accent {
    color: var(--white);
    font-size: 36px;
    line-height: 1;
    height: $accent-line-height;
    text-transform: uppercase;

    a,
    span {
      background-color: var(--bg-header);
      color: var(--white);
      transition: background-color 0.2s;
    }

    a {
      border-left: 10px solid var(--primary);
      float: left;
      padding: 20px;
      text-decoration: none;
    }

    span {
      float: right;
      position: relative;
      padding: 20px;

      .top-accent {
        background-color: transparent;
        border-top: 10px var(--primary) solid;
        height: calc(100% - 10px);
        position: absolute;
        right: 0;
        top: 0;
        width: $accent-line-height;
      }
    }
  }
}

.no-webp .landing {
  background-image: linear-gradient(
      rgba(0, 119, 182, 0.5),
      rgba(0, 150, 199, 0.5)
    ),
    url("../assets/images/landing/subtle-black.webp") !important;
}

// Safari 100vh fix
@supports (-webkit-touch-callout: none) {
  .landing {
    height: -webkit-fill-available !important;
  }
}
