<section id="landing" class="landing" spyTarget="landing">
  <div class="landing-content">
    <h1 class="title" wmAnimate="fadeInUp">Matt Blum</h1>

    <hr wmAnimate="fadeIn" delay="250ms" />

    <h3 class="description" wmAnimate="fadeInDown" delay="500ms">
      Front End Developer
    </h3>
  </div>

  <div
    class="down-wrapper"
    (click)="utilityService.scrollToId('header')"
    wmAnimate="fadeInUp"
    delay="250ms"
  >
    <div class="down">
      <mat-icon aria-hidden="false" aria-label="Down Arrow"
        >keyboard_arrow_down</mat-icon
      >
    </div>
  </div>
</section>
