$mat-resume-primary: (
  50: #e4f6fd,
  100: #bde8f9,
  200: #91d9f5,
  300: #64caf1,
  400: #43beee,
  500: #22b3eb,
  600: #1eace9,
  700: #19a3e5,
  800: #149ae2,
  900: #0c8bdd,
  A100: #ffffff,
  A200: #d4edff,
  A400: #a1d7ff,
  A700: #88ccff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-resume-secondary: (
  50: #ebf8fd,
  100: #cceefb,
  200: #aae2f8,
  300: #88d6f5,
  400: #6fcef2,
  500: #55c5f0,
  600: #4ebfee,
  700: #44b8ec,
  800: #3bb0e9,
  900: #2aa3e5,
  A100: #ffffff,
  A200: #f1faff,
  A400: #bee7ff,
  A700: #a4ddff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
