$mat-resume-primary: (
  50: #e0eff6,
  100: #b3d6e9,
  200: #80bbdb,
  300: #4da0cc,
  400: #268bc1,
  500: #0077b6,
  600: #006faf,
  700: #0064a6,
  800: #005a9e,
  900: #00478e,
  A100: #bad8ff,
  A200: #87baff,
  A400: #549dff,
  A700: #3b8eff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-resume-secondary: (
  50: #e0f2f8,
  100: #b3e0ee,
  200: #80cbe3,
  300: #4db6d8,
  400: #26a6cf,
  500: #0096c7,
  600: #008ec1,
  700: #0083ba,
  800: #0079b3,
  900: #0068a6,
  A100: #d0ebff,
  A200: #9dd5ff,
  A400: #6abfff,
  A700: #51b4ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
