<nav class="mobile" [ngClass]="{ fixed: isPastOneHundredViewHeight }">
  <button
    mat-flat-button
    color="primary"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="scrollToId('skills', SECTION_Y_OFFSET)"
    [ngClass]="{ active: sectionInView === 'skills' }"
  >
    <span>Skills</span>
  </button>
  <button
    mat-menu-item
    (click)="scrollToId('projects', SECTION_Y_OFFSET)"
    [ngClass]="{ active: sectionInView === 'projects' }"
  >
    <span>Projects</span>
  </button>
  <button
    mat-menu-item
    (click)="scrollToId('career', SECTION_Y_OFFSET)"
    [ngClass]="{ active: sectionInView === 'career' }"
  >
    <span>Career</span>
  </button>
  <button
    mat-menu-item
    (click)="scrollToId('education', SECTION_Y_OFFSET)"
    [ngClass]="{ active: sectionInView === 'education' }"
  >
    <span>Education</span>
  </button>
  <button
    mat-menu-item
    (click)="scrollToId('landing', SECTION_Y_OFFSET)"
    class="text-center"
  >
    <mat-icon aria-hidden="false" aria-label="Up Arrow"
      >keyboard_arrow_up</mat-icon
    >
  </button>
</mat-menu>

<section id="landing" class="landing" spyTarget="landing">
  <div class="landing-content">
    <h1 class="title" wmAnimate="fadeInUp">Matt Blum</h1>
    <!-- .title -->

    <hr wmAnimate="fadeIn" delay="250ms" />

    <h3 class="description" wmAnimate="fadeInDown" delay="500ms">
      Front-end Developer
    </h3>
    <!-- .description -->

    <div class="cta">
      <div class="button-wrapper" wmAnimate="fadeInDown" delay="750ms">
        <a href="mailto:matt.blum@live.com" mat-raised-button color="primary">
          <mat-icon>email</mat-icon>Contact Me
        </a>
      </div>
      <div class="button-wrapper" wmAnimate="fadeInDown" delay="1000ms">
        <button mat-raised-button color="primary">
          <mat-icon>cloud_download</mat-icon>PDF Version
        </button>
      </div>
    </div>
    <!-- .cta -->
  </div>
  <!-- .landing-content -->

  <div
    class="down-wrapper"
    (click)="scrollToId('header')"
    wmAnimate="fadeInUp"
    delay="250ms"
  >
    <div class="down">
      <mat-icon aria-hidden="false" aria-label="Down Arrow"
        >keyboard_arrow_down</mat-icon
      >
    </div>
  </div>
  <!-- .down-wrapper -->
</section>
<!-- .landing -->

<nav class="desktop" [ngClass]="{ fixed: isPastOneHundredViewHeight }">
  <ul>
    <li
      (click)="scrollToId('skills', SECTION_Y_OFFSET)"
      [ngClass]="{ active: sectionInView === 'skills' }"
      wmAnimate="fadeInRight"
      aos
      delay="250ms"
    >
      Skills
    </li>
    <li
      (click)="scrollToId('projects', SECTION_Y_OFFSET)"
      [ngClass]="{ active: sectionInView === 'projects' }"
      wmAnimate="fadeInRight"
      aos
      delay="500ms"
    >
      Projects
    </li>
    <li
      (click)="scrollToId('career', SECTION_Y_OFFSET)"
      [ngClass]="{ active: sectionInView === 'career' }"
      wmAnimate="fadeInRight"
      aos
      delay="750ms"
    >
      Career
    </li>
    <li
      (click)="scrollToId('education', SECTION_Y_OFFSET)"
      [ngClass]="{ active: sectionInView === 'education' }"
      wmAnimate="fadeInRight"
      aos
      delay="1000ms"
    >
      Education
    </li>
    <li
      (click)="scrollToId('landing', SECTION_Y_OFFSET)"
      wmAnimate="fadeInRight"
      aos
      delay="1250ms"
    >
      <mat-icon aria-hidden="false" aria-label="Up Arrow"
        >keyboard_arrow_up</mat-icon
      >
    </li>
  </ul>
</nav>

<div class="container">
  <section id="header" class="header" spyTarget="header">
    <h1 class="side-accent" wmAnimate="fadeInDown" aos>
      <a href="#">Matt Blum</a>
    </h1>
    <h1 class="side-accent" wmAnimate="fadeInDown" aos delay="250ms">
      <span><span class="top-accent">&nbsp;</span>Front-End Developer</span>
    </h1>
  </section>
  <!-- #header -->

  <section id="skills" spyTarget="skills">
    <mat-card>
      <app-section-header
        [title]="'Skills'"
        [titleBlurb]="'What I Have To Offer'"
      ></app-section-header>
      <div class="content">
        <div class="subsection">
          <div class="row">
            <div class="col"><h2>Front-End</h2></div>
          </div>
          <!-- .row -->
          <div class="row">
            <div
              class="col-sm-12 col-md-6 col-lg-4"
              *ngFor="let skill of frontEndSkills"
            >
              <div class="row">
                <div class="col-6 col-md-3">
                  {{ skill.label }}
                </div>
                <div class="col-6 col-md-9">
                  <mat-icon
                    class="star"
                    *ngFor="let item of [].constructor(skill.rating)"
                    >star</mat-icon
                  >
                  <mat-icon
                    class="star-empty"
                    *ngFor="let item of [].constructor(5 - skill.rating)"
                    >star</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- .row -->
        </div>
        <!-- .subsection -->

        <div class="subsection">
          <div class="row">
            <div class="col"><h2>Libraries</h2></div>
          </div>
          <!-- .row -->
          <div class="row">
            <div
              class="col-sm-12 col-md-6 col-lg-4"
              *ngFor="let skill of librarySkills"
            >
              <div class="row">
                <div class="col-6 col-md-3">
                  {{ skill.label }}
                </div>
                <div class="col-6 col-md-9">
                  <mat-icon
                    class="star"
                    *ngFor="let item of [].constructor(skill.rating)"
                    >star</mat-icon
                  >
                  <mat-icon
                    class="star-empty"
                    *ngFor="let item of [].constructor(5 - skill.rating)"
                    >star</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- .row -->
        </div>
        <!-- .subsection -->

        <div class="subsection">
          <div class="row">
            <div class="col"><h2>Miscellaneous</h2></div>
          </div>
          <!-- .row -->
          <div class="row">
            <div
              class="col-sm-12 col-md-6 col-lg-4"
              *ngFor="let skill of miscSkills"
            >
              <div class="row">
                <div class="col-6 col-md-3">
                  {{ skill.label }}
                </div>
                <div class="col-6 col-md-9">
                  <mat-icon
                    class="star"
                    *ngFor="let item of [].constructor(skill.rating)"
                    >star</mat-icon
                  >
                  <mat-icon
                    class="star-empty"
                    *ngFor="let item of [].constructor(5 - skill.rating)"
                    >star</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- .row -->
        </div>
        <!-- .subsection -->
      </div>
      <!-- .content -->
    </mat-card>
  </section>
  <!-- #skills -->

  <section id="projects" spyTarget="projects">
    <mat-card>
      <app-section-header
        [title]="'Projects'"
        [titleBlurb]="'Web Apps I\'ve worked on'"
      ></app-section-header>
      <div class="subsection">
        <div class="content">
          <h2>
            <a
              href="https://bull-search-web-dev.azurewebsites.net"
              target="_blank"
              >Bull Search Web</a
            >
          </h2>
          <div class="row">
            <div class="col-md-12 col-lg-4">
              Bull Search Web is an ongoing project and as such, is in a
              development environment. It's an
              <a href="https://angular.io" target="_blank">Angular</a> 9
              application using
              <a href="https://ngrx.io" target="_blank">NgRx</a> for state
              management. The UI and UX was designed by
              <a href="https://centricconsulting.com/" target="_blank"
                >Centric Consulting</a
              >, who I had the pleasure of collaborating with. Ultimately, I
              created a one-to-one implementation of the UI, UX, and
              functionality using a mobile first strategy.
            </div>
            <!-- .col -->
            <ng-template
              ngFor
              let-image
              [ngForOf]="bullSearchWebAlbum"
              let-i="index"
            >
              <div
                class="col-sm-12 col-md-8 col-lg-5 screenshot"
                *ngIf="i === 0"
              >
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(bullSearchWebAlbum, i)"
                />
              </div>
              <!-- .col -->
              <div
                class="col-sm-12 col-md-4 col-lg-3 screenshot"
                *ngIf="i === 1"
              >
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(bullSearchWebAlbum, i)"
                />
              </div>
              <!-- .col -->
            </ng-template>
          </div>
          <!-- .row -->
        </div>
        <!-- .content -->
      </div>
      <!-- .subsection -->
      <div class="subsection">
        <div class="content bg-off-white">
          <h2>
            <a href="http://www.accelgen.com" target="_blank"
              >Accelerated Genetics</a
            >
          </h2>
          <div class="row">
            <div class="col-md-12 col-lg-4">
              I was given the task of redesigning the UI, UX, architecture, and
              SEO. I also closed security holes and improved query performance.
            </div>
            <!-- .col -->
            <ng-template
              ngFor
              let-image
              [ngForOf]="acceleratedGeneticsAlbum"
              let-i="index"
            >
              <div
                class="col-sm-12 col-md-8 col-lg-5 screenshot"
                *ngIf="i === 0"
              >
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(acceleratedGeneticsAlbum, i)"
                />
              </div>
              <!-- .col -->
              <div
                class="col-sm-12 col-md-4 col-lg-3 screenshot"
                *ngIf="i === 1"
              >
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(acceleratedGeneticsAlbum, i)"
                />
              </div>
              <!-- .col -->
            </ng-template>
          </div>
          <!-- .row -->
        </div>
        <!-- .content -->
      </div>
      <!-- .subsection -->
      <div class="subsection">
        <div class="content">
          <h2>
            <a href="http://search.accelgen.com" target="_blank">Sire Search</a>
          </h2>
          <div class="row">
            <div class="col-md-12 col-lg-4">
              I designed and implemented its UI and UX. I also setup the state
              management using Redux.
            </div>
            <!-- .col -->
            <ng-template
              ngFor
              let-image
              [ngForOf]="sireSearchAlbum"
              let-i="index"
            >
              <div
                class="col-sm-12 col-md-8 col-lg-5 screenshot"
                *ngIf="i === 0"
              >
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(sireSearchAlbum, i)"
                />
              </div>
              <!-- .col -->
              <div
                class="col-sm-12 col-md-4 col-lg-3 screenshot"
                *ngIf="i === 1"
              >
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(sireSearchAlbum, i)"
                />
              </div>
              <!-- .col -->
            </ng-template>
          </div>
          <!-- .row -->
        </div>
        <!-- .content -->
      </div>
      <!-- .subsection -->
      <div class="subsection">
        <div class="content bg-off-white">
          <h2>
            <a href="https://shop.accelgen.com" target="_blank">Shop</a>
          </h2>
          <div class="row">
            <div class="col-md-12 col-lg-6">
              I adapted the UI from
              <a href="https://selectsiresbeef.com" target="_blank"
                >Select Sires Beef</a
              >. It's written in ASP.NET C# and uses JavaScript to communicate
              with the
              <a href="https://www.windriverfinancial.com" target="_blank"
                >WindRiver</a
              >
              API.
            </div>
            <!-- .col -->
            <ng-template
              ngFor
              let-image
              [ngForOf]="shopSearchAlbum"
              let-i="index"
            >
              <div class="col-md-12 col-lg-6 screenshot" *ngIf="i === 0">
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(shopSearchAlbum, i)"
                />
              </div>
              <!-- .col -->
            </ng-template>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .content -->
      </div>
      <!-- .subsection -->
      <div class="subsection">
        <div class="content">
          <h2>
            <a href="https://dss.selectsires.com/" target="_blank"
              >Dairy Sire Search</a
            >
          </h2>
          <div class="row">
            <div class="col-md-12 col-lg-6">
              I created a one-to-one implementation of the UI and UX. I
              developed and enhanced various internal features, limited to
              employees.
            </div>
            <!-- .col -->
            <ng-template
              ngFor
              let-image
              [ngForOf]="dairySireSearchAlbum"
              let-i="index"
            >
              <div class="col-md-12 col-lg-6 screenshot" *ngIf="i === 0">
                <img
                  [src]="image.thumb"
                  (click)="openAlbum(dairySireSearchAlbum, i)"
                />
              </div>
              <!-- .col -->
            </ng-template>
          </div>
          <!-- .row -->
        </div>
        <!-- .content -->
      </div>
      <!-- .subsection -->
    </mat-card>
  </section>
  <!-- #projects -->

  <section id="career" spyTarget="career">
    <mat-card>
      <app-section-header
        [title]="'Career'"
        [titleBlurb]="'Experience'"
      ></app-section-header>
      <div class="content">
        <div class="subsection">
          <div class="subsection-header">
            <span
              ><h2>
                <a href="http://www.selectsires.com" target="_blank"
                  >Select Sires</a
                >
              </h2>
              <span>Remote</span>
            </span>
            <span>June 2017 to August 2020</span>
          </div>
          <!-- subsection-header -->
          <div class="subsection-header">
            <h4>Front-end Developer</h4>
            <h4>
              Acquired
              <a href="http://www.accelgen.com" target="_blank"
                >Accelerated Genetics</a
              >
            </h4>
          </div>
          <!-- subsection-header -->
          <p>
            Created and maintained various Angular applications. These
            applications assist geneticists in making breeding decisions, which
            improve farmers' cattle genetics.
          </p>
          <ul>
            <li>
              Incumbent with creating and maintaining Angular web-applications
              for, but not limited to:
              <ul>
                <li>
                  <a
                    href="https://bull-search-web-dev.azurewebsites.net"
                    target="_blank"
                    >Bull Search Web</a
                  >
                </li>
                <li>
                  <a href="http://search.accelgen.com" target="_blank"
                    >Sire Search</a
                  >
                </li>
                <li>
                  <a href="https://dss.selectsires.com/" target="_blank"
                    >Dairy Sire Search</a
                  >
                </li>
              </ul>
            </li>
            <li>
              Employed various skills including:
              <ul>
                <li>
                  <a href="https://angular.io" target="_blank">Angular</a>
                </li>
                <li>
                  <a href="https://www.typescriptlang.org" target="_blank"
                    >TypeScript</a
                  >
                </li>
                <li>
                  <a href="https://www.javascript.com" target="_blank"
                    >JavaScript</a
                  >
                </li>
                <li>
                  <a
                    href="http://www.ecma-international.org/ecma-262/6.0"
                    target="_blank"
                    >ES6</a
                  >
                </li>
                <li><a href="https://sass-lang.com">SCSS</a>/CSS3</li>
                <li><a href="https://ngrx.io" target="_blank">NgRx</a></li>
                <li>
                  <a href="https://redux.js.org" target="_blank">Redux</a>
                </li>
                <li>
                  <a href="https://material.angular.io" target="_blank"
                    >Material Design</a
                  >
                </li>
                <li>
                  <a href="https://getbootstrap.com/" target="_blank"
                    >Bootstrap</a
                  >
                </li>
                <li>
                  <a href="https://www.primefaces.org/primeng" target="_blank"
                    >PrimeNG</a
                  >
                </li>
              </ul>
            </li>
            <li>
              Responsible for front-end development, website optimization, and
              security
            </li>
            <li>
              Developed tools for systems and employees to generate automated
              reporting
            </li>
          </ul>
        </div>
        <!-- .subsection -->
      </div>
      <!-- .content -->
      <div class="content bg-off-white">
        <div class="subsection">
          <div class="subsection-header">
            <span
              ><h2>
                <a href="https://www.accelgen.com" target="_blank"
                  >Accelerated Genetics</a
                >
              </h2>
              <span>Remote</span>
            </span>
            <span>January 2015 to May 2017</span>
          </div>
          <!-- subsection-header -->
          <h4>Full-Stack Web Developer</h4>
          <ul>
            <li>
              Incumbent with creating, managing, and maintaining IIS websites,
              web-applications, and web services for, but not limited to:
              <ul>
                <li>
                  <a href="https://www.accelgen.com" target="_blank"
                    >Accelerated Genetics</a
                  >
                </li>
                <li>
                  <a href="https://shop.accelgen.com" target="_blank"
                    >Shop - Accelerated Genetics</a
                  >
                </li>
              </ul>
            </li>
            <li>
              Employed various skills including:
              <ul>
                <li>ASP.NET</li>
                <li>C#</li>
                <li>SQL</li>
                <li>
                  <a href="https://www.javascript.com" target="_blank"
                    >JavaScript</a
                  >
                </li>
                <li><a href="https://sass-lang.com">SCSS</a>/CSS3</li>
                <li>
                  <a href="https://getbootstrap.com/" target="_blank"
                    >Bootstrap</a
                  >
                </li>
              </ul>
            </li>
            <li>
              Maintained and optimized SQL Server databases to create, maintain,
              and execute data upload scripts to handle weekly, monthly, and
              triannual data uploads
            </li>
            <li>
              Front end development – employed Bootstrap and JavaScript to
              create a clear, impactful presentation
            </li>
            <li>
              Responsible for back end development, website optimization and
              security
            </li>
            <li>
              Successfully redesigned
              <a href="http://www.accelgen.com" target="_blank"
                >Accelerated Genetics</a
              >
            </li>
            <li>
              Successfully developed and launched the ecommerce web-application
              <a href="https://shop.accelgen.com" target="_blank"
                >Shop - Accelerated Genetics</a
              >
            </li>
            <li>
              Employed project management skills to manage specific priorities,
              set deadlines, and adhere to budget constraints
            </li>
            <li>
              Develop tools for systems and employees to generate automated
              reporting
            </li>
          </ul>
        </div>
        <!-- .subsection -->
      </div>
      <!-- .content -->
    </mat-card>
  </section>
  <!-- #career -->

  <section id="education" spyTarget="education">
    <mat-card>
      <app-section-header
        [title]="'Education'"
        [titleBlurb]="'Formal Training'"
      ></app-section-header>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="content">
            <div class="subsection">
              <div class="subsection-header">
                <span
                  ><h2>
                    <a href="https://www.udacity.com" target="_blank"
                      >Udacity</a
                    >
                  </h2></span
                >
                <span>June 2019 to October 2019</span>
              </div>
              <!-- .subsection-header -->
              <h4>Mobile Web Specialist, Nanodegree</h4>
              <ul>
                <li>Dynamic & Offline Capable Web Apps</li>
                <li>Performant Web Apps</li>
                <li>Web Accessibility</li>
              </ul>
            </div>
            <!-- .subsection -->
          </div>
          <!-- .content -->
        </div>
        <!-- .col -->
        <div class="col-sm-12 col-md-6">
          <div class="content bg-off-white">
            <div class="subsection">
              <div class="subsection-header">
                <span
                  ><h2>
                    <a href="https://www.blackhawk.edu" target="_blank"
                      >Blackhawk Technical College</a
                    >
                  </h2></span
                >
                <span>Graduated May 2014</span>
              </div>
              <!-- .subsection-header -->
              <div class="justify-content-space-between">
                <h4>
                  Associate of Applied Science - IT-Web Analyst/Programmer
                </h4>
                <h4>GPA: 3.76/4.0</h4>
              </div>
              <ul>
                <li *ngFor="let course of blackhawkCourses">{{ course }}</li>
              </ul>
            </div>
            <!-- .subsection -->
          </div>
          <!-- .content -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </mat-card>
  </section>
  <!-- #education -->
</div>
<!-- .container -->
