$cover-height: 100vh;

.cover {
  background: linear-gradient(
      rgba(103, 58, 183, 0.75),
      rgba(255, 215, 64, 0.75)
    ),
    // url("../assets/images/cover/your-name-1.png");
    // url("../assets/images/cover/your-name-2.png");
    url("../assets/images/cover/your-name-3.png");
  // url("../assets/images/cover/tokyo-ghoul.png");

  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: $cover-height;
  justify-content: center;
  margin: 0;
  text-align: center;

  h1,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 400;
  }

  h3 {
    font-size: 28px;
    font-weight: 200;
  }

  hr,
  .description {
    margin: 20px 0;
  }

  // .cover-content {
  //   background-color: rgba(103, 58, 183, 0.65);
  //   padding: 32px 64px;
  //   text-align: center;
  //   text-transform: uppercase;
  // }

  .cta {
    .button-wrapper {
      display: inline-block;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    a,
    button {
      &.mat-raised-button {
        mat-icon.mat-icon {
          margin-right: 4px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  .down-wrapper {
    align-items: center;
    background-color: var(--primary);
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    position: absolute;
    right: 5%;
    width: 110px;

    .down {
      align-items: baseline;
      display: flex;
    }

    mat-icon {
      font-size: 63px;
      width: 63px;

      position: relative;
      top: 5px;

      -webkit-animation: action 1s infinite alternate;
      animation: action 1s infinite alternate;
    }
  }
}

nav {
  margin: 0;
  padding: 0;
  width: 110px;
  position: absolute;
  top: 100%;
  right: 5%;

  ul {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      background-color: var(--primary);
      // border-bottom: 1px solid var(--white);
      color: var(--white);
      cursor: pointer;
      display: flex;
      height: 80px;
      justify-content: center;
      text-transform: uppercase;
      width: 100%;

      &.active {
        background-color: var(--secondary);
        color: var(--black);
      }

      a {
        color: var(--white);
        text-decoration: none;

        &.active {
          color: var(--black);
        }
      }
    }
  }
}
