nav {
  margin: 0;
  padding: 0;
  width: 110px;
  position: absolute;
  top: 100%;
  right: 5%;

  &.fixed {
    padding-top: 50px;
    position: fixed;
    top: 0;
    transition: padding 1.25s;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      background-color: var(--dark-gray);
      color: var(--white);
      cursor: pointer;
      display: flex;
      height: 80px;
      justify-content: center;
      text-transform: uppercase;
      transition: background-color 0.2s;
      width: 100%;

      &.active {
        background-color: var(--primary);
      }

      &:hover {
        background-color: var(--black);
        transition: background-color 0.3s;
      }
    }
  }
}

.landing {
  background: linear-gradient(
      rgba(34, 179, 235, 0.25),
      rgba(85, 197, 240, 0.25)
    ),
    url("../assets/images/cover/subtle.webp");
  // url("../assets/images/cover/your-name.webp");

  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;

  h1,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 400;
  }

  h3 {
    font-size: 28px;
    font-weight: 200;
  }

  hr {
    border: 0;
    border-top: 1px solid var(--dark-gray);
    display: block;
    height: 1px;
    // margin: 1em 0;
    margin: 0;
    padding: 0;
  }

  // .landing-content {
  //   background-color: rgba(103, 58, 183, 0.65);
  //   padding: 32px 64px;
  //   text-align: center;
  //   text-transform: uppercase;
  // }

  .title,
  .description {
    margin: 20px 0;
  }

  .cta {
    .button-wrapper {
      display: inline-block;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    a,
    button {
      &.mat-raised-button {
        mat-icon.mat-icon {
          margin-right: 4px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  .down-wrapper {
    align-items: center;
    background-color: var(--primary);
    bottom: 0;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    position: absolute;
    right: 5%;
    transition: background-color 0.3s;
    width: 110px;

    &:hover {
      background-color: var(--black);
      color: var(--white);
      transition: background-color 0.2s, color 0.2s;
    }

    .down {
      align-items: baseline;
      display: flex;
    }

    mat-icon {
      animation: bounce 1s infinite alternate;
      position: relative;
      top: 5px;
    }
  }
}

section {
  &.header {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
    padding-top: 50px;
  }

  // TODO: Remove after content has been supplied
  mat-card {
    min-height: 600px;
  }

  .sub-section {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
