<section class="cover">
  <div class="cover-content">
    <h1 class="title animate__animated animate__fadeInRight">Matt Blum</h1>
    <!-- .title -->

    <hr />

    <h3
      class="description animate__animated animate__fadeInLeft animate__delay-05s"
    >
      Front-End Developer
    </h3>
    <!-- .description -->

    <div class="cta">
      <a
        href="mailto:matt.blum@live.com"
        mat-raised-button
        color="primary"
        class="animate__animated animate__fadeInRight animate__delay-1s"
      >
        <mat-icon>email</mat-icon>Contact Me
      </a>
      <button
        mat-raised-button
        color="primary"
        class="animate__animated animate__fadeInRight animate__delay-15s"
      >
        <mat-icon>cloud_download</mat-icon>PDF Version
      </button>
    </div>
    <!-- .cta -->
  </div>
  <!-- .cover-content -->

  <div
    class="down-wrapper animate__animated animate__fadeInUp animate__delay-2s"
    (click)="scrollToId('header')"
  >
    <div class="down">
      <mat-icon aria-hidden="false" aria-label="Down Arrow"
        >keyboard_arrow_down</mat-icon
      >
    </div>
  </div>
  <!-- .down-wrapper -->
</section>
<!-- .cover -->

<div class="container">
  <section id="header" class="header">
    <h1 class="side-title">
      <a href="#">Matt Blum</a>
    </h1>
  </section>
  <!-- #header -->

  <mat-card id="about">
    <div class="header">
      <h2 class="title">About</h2>
      <div class="title-blurb">Something, something, something</div>
      <div class="clear-fix"></div>
    </div>
    <!-- .header -->
    <div class="content">Content</div>
    <!-- .content -->
  </mat-card>
  <!-- #education -->

  <mat-card id="skills">
    <div class="header">
      <h2 class="title">Skills</h2>
      <div class="title-blurb">Something, something, something</div>
      <div class="clear-fix"></div>
    </div>
    <!-- .header -->
    <div class="content">
      <div class="row">
        <div class="col-6" *ngFor="let skill of skills; let i = index">
          <div class="row">
            <div class="col-md">
              {{ skill.label }}
            </div>
            <div class="col-md">
              <mat-icon
                class="star"
                *ngFor="let item of [].constructor(skill.rating)"
                >star</mat-icon
              >
              <mat-icon
                class="star-empty"
                *ngFor="let item of [].constructor(5 - skill.rating)"
                >star</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .content -->
  </mat-card>
  <!-- #skill-set -->

  <mat-card id="projects">
    <div class="header">
      <h2 class="title">Projects</h2>
      <div class="title-blurb">Something, something, something</div>
      <div class="clear-fix"></div>
    </div>
    <!-- .header -->
    <div class="content">Content</div>
    <!-- .content -->
  </mat-card>
  <!-- #projects -->

  <mat-card id="experience">
    <div class="header">
      <h2 class="title">Experience</h2>
      <div class="title-blurb">Something, something, something</div>
      <div class="clear-fix"></div>
    </div>
    <!-- .header -->
    <div class="content">Content</div>
    <!-- .content -->
  </mat-card>
  <!-- #experience -->

  <mat-card id="education">
    <div class="header">
      <h2 class="title">Education</h2>
      <div class="title-blurb">Something, something, something</div>
      <div class="clear-fix"></div>
    </div>
    <!-- .header -->
    <div class="content">Content</div>
    <!-- .content -->
  </mat-card>
  <!-- #education -->
</div>
<!-- .container -->
