nav.mobile.fixed {
  button {
    top: 16px;
  }
}

nav.mobile {
  button {
    position: fixed;
    top: -36px;
    right: 16px;
    transition: top 0.3s;
    z-index: 10;
  }
}

nav.desktop {
  display: none;
}

.landing {
  align-items: center;
  // background-image: url("../assets/images/landing/subtle-black.webp");
  background: linear-gradient(rgba(0, 119, 182, 0.5), rgba(0, 150, 199, 0.5)),
    url("../assets/images/landing/subtle-black.webp");
  background-size: cover;
  color: var(--white-off);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;

  h1,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 400;
  }

  h3 {
    font-size: 28px;
    font-weight: 200;
  }

  hr {
    border: 0;
    border-top: 1px solid var(--primary);
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
  }

  .title,
  .description {
    margin: 20px 0;
  }

  .cta {
    .button-wrapper {
      display: inline-block;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    a,
    button {
      &.mat-raised-button {
        mat-icon.mat-icon {
          margin-right: 4px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  .down-wrapper {
    align-items: center;
    background-color: var(--primary);
    bottom: 0;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    position: absolute;
    width: 100%;

    .down {
      align-items: baseline;
      display: flex;
    }

    mat-icon {
      animation: bounce 1s infinite alternate;
      position: relative;
      top: 5px;
    }
  }
}

.screenshot {
  text-align: center;

  img {
    border: 1px solid var(--border-img);
    cursor: pointer;
    margin-bottom: 15px;
    max-height: 300px;
    width: auto;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@import "../styles/base/medias";
