<app-nav-mobile
  [isPastOneHundredViewHeight]="isPastOneHundredViewHeight"
  [sectionInView]="sectionInView"
></app-nav-mobile>
<app-nav-desktop
  [isPastOneHundredViewHeight]="isPastOneHundredViewHeight"
  [sectionInView]="sectionInView"
></app-nav-desktop>
<app-landing></app-landing>
<div class="container">
  <app-page-header></app-page-header>
  <app-skills-section></app-skills-section>
  <app-projects-section></app-projects-section>
  <app-career-section></app-career-section>
  <app-education-section></app-education-section>
  <app-footer></app-footer>
</div>
