.bg-alt {
  background-color: var(--bg-alt);
}

.clear-fix {
  clear: both;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.mat-typography {
  .no-margin {
    margin: 0 !important;
  }

  .no-padding {
    padding: 0 !important;
  }
}

.text-center {
  text-align: center !important;
}
