@import "../base/vars";

@media (max-width: $xs) {
  .screenshot img {
    max-height: 220px;
  }
}

@media (max-width: $lg) {
  .screenshot img {
    margin-top: 15px;
  }
}

@media (min-width: $xxxl) {
  .landing {
    .down-wrapper {
      height: 80px;
      right: 5%;
      width: 110px;
    }
  }

  section.header {
    padding-top: 50px;
  }
}
