@import "../base/vars";

@media (max-width: $xs) {
  .screenshot img {
    max-height: 220px;
  }
}

@media (max-width: $lg) {
  .screenshot img {
    margin-top: 15px;
  }
}

@media (min-width: $xxxl) {
  nav.mobile {
    display: none;
  }

  nav.desktop {
    display: block;
    margin: 0;
    padding: 0;
    width: 110px;
    position: absolute;
    top: 100%;
    right: 5%;

    &.fixed {
      padding-top: 50px;
      position: fixed;
      top: 0;
      transition: padding 1.25s;

      ul li:first-child {
        border-top: none;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        background-color: var(--bg-nav);
        border-top: 1px solid var(--border-menu);
        color: var(--white);
        cursor: pointer;
        display: flex;
        height: 80px;
        justify-content: center;
        text-transform: uppercase;
        transition: background-color 0.2s;
        width: 100%;

        &:before {
          content: "";
          width: 0;
          margin-left: 0;
        }

        &:hover {
          background-color: var(--primary);
          color: var(--white);
          transition: background-color 0.3s, color 0.3s;
        }

        &.active {
          background-color: var(--primary);
          color: var(--white);
          transition: background-color 0.2s, color 0.2s;
        }

        &.divide {
          margin-top: 8px;
        }

        a {
          align-items: center;
          display: flex;
          color: var(--white);
          height: 100%;
          justify-content: center;
          transition: background-color 0.3s, color 0.3s;
          width: 100%;

          &:hover,
          &:active,
          &:focus {
            background-color: var(--primary);
            color: var(--white);
            text-decoration: none;
            transition: background-color 0.2s, color 0.2s;
          }
        }
      }
    }
  }

  .landing {
    .down-wrapper {
      height: 80px;
      right: 5%;
      width: 110px;
    }
  }

  section.header {
    padding-top: 50px;
  }
}
